<div class="row">
  <h1 class="col-md-8">Welcome back <%= current_player.playername %></h1>
  <%= link_to "Start a new game", games_path, method: :post, class: "btn btn-primary col-md-4" %>
</div>
<% if current_player.games.any? %>
  <h3>Your games</h3>
    <ul>
      <% current_player.games.each do |game| %>
        <% if game.pending? %>  
          <li><%= link_to "Pending opponent.", game_invite_path(game)  %> <%= distance_of_time_in_words_to_now(game.created_at) %> ago</li>
        <% elsif game.in_progress? %>
           <li><%= link_to "In progress against #{current_player.other_player_for_game(game).playername.titlecase}.", game_path(game)  %> <%= distance_of_time_in_words_to_now(game.created_at) %> ago</li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
